:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Epilogue", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--Almost-White);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 0;
}
.logo-image {
  object-fit: contain;
}
.mobile-menu-icon {
  display: block;
  width: 32px;
  height: 19px;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 280px;
  height: 100%;
  position: fixed;
  background-color: var(--Almost-White);
  padding: 20px;
}
.icon-close-menu-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}
.mobile-menu,
.features-submenu,
.company-submenu {
  list-style: none;
}
/* MOBILE MENU */
.mobile-menu li,
.desktop-menu li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: var(--Medium-Gray);
  cursor: pointer;
}
.desktop-menu li:hover {
  color: var(--Almost-Black);
}
.mobile-menu img,
.desktop-menu img {
  margin-left: 10px;
}
.mobile-menu a,
.desktop-menu a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--Medium-Gray);
}
/* FEATURES SUBMENU */
.features-submenu {
  margin: 20px 12px;
}

.features-submenu a {
  margin-left: 10px;
}
/* COMPANY SUBMENU */
.company-submenu {
  margin: 20px 20px;
}
/* BUTTONS LOGIN AND REGISTER */
.login-button,
.register-button {
  background-color: var(--Almost-White);
  font-size: 0.9rem;
  color: var(--Medium-Gray);
  margin-bottom: 6px;
}
.login-button {
  background: none;
  border: 0;
}
.register-button {
  margin-top: 0;
  border: 2px solid var(--Medium-Gray);
}
.register-button:hover {
  border: 2px solid var(--Almost-Black);
}
/* DESKTOP MENU */
.desktop-menu-container {
  display: flex;
  width: calc(100% - 150px);
  justify-content: space-between;
}
.desktop-menu {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.desktop-menu a:hover {
  color: var(--Almost-Black);
}
.desktop-menu .features-submenu {
  position: absolute;
}
.desktop-menu .company-submenu {
  position: absolute;
}
.desktop-menu .company-submenu,
.desktop-menu .features-submenu{
  background-color: var(--Almost-White);
  margin: 20px 0 0 0;
  box-shadow: 0px 0px 40px 1px #e2e2e2;
  border-radius: 15px;
  padding: 20px 27px 7px;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-image {
  margin: 20px 0px;
  max-width: 100%;
  display: block;
}
.main-title {
  margin-top: 20px;
  font-size: 2.1875rem;
  font-weight: 700;
}
.description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--Medium-Gray);
  padding: 0px 18px;
  margin: 12px 0px;
}
button {
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  border: 2px solid var(--Almost-Black);
  margin: 12px 0px;
  padding: 19px 32px;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.sponsor-container {
  margin: 38px 0px;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
}
.sponsor-container img {
  width: 98px;
  display: block;
  object-fit: contain;
  padding: 0 10px;
}
.sponsor-container img:nth-child(2) {
  width: 77px;
  display: block;
  object-fit: contain;
  padding: 0 10px;
}
.inactive {
  display: none;
}
footer {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.7rem;
  color: var(--Medium-Gray);
}
footer a {
  text-decoration: none;
  color: var(--Almost-Black);
}
@media (max-width: 1080px) {
  .desktop-menu-container {
    display: none;
  }
}
@media (min-width: 1080px) {
  main {
    flex-direction: row-reverse;
    column-gap: 150px;
    margin: 40px 0;
    align-items: flex-end;
  }
  .mobile-menu-icon {
    display: none;
  }
  .mobile-menu-container {
    display: none;
  }
  .image-container {
    background-size: cover;
    margin: 0;
  }
  .main-image {
    max-width: 479px;
    height: 647px;
  }
  .description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 512px;
  }
  .main-title {
    font-size: 4.875rem;
    text-align: start;
    line-height: 1;
    margin: 0 0 63px;
  }
  .description {
    margin: 0 0 55px;
    padding: 0 92px 0 0;
    text-align: left;
    font-size: 1.125rem;
  }
  button {
    margin: 0;
    font-size: 1.125rem;
  }
  button:hover {
    background: none;
    color: var(--Almost-Black);
  }
  .sponsor-container {
    column-gap: 15px;
    margin: 102px 0 0px;
  }
  .sponsor-container img {
    width: 130px;
  }
  .sponsor-container img:nth-child(2) {
    width: 104px;
    display: block;
    object-fit: contain;
    padding: 0 10px;
  }
  footer {
    font-size: 1rem;
  }
}
